<h1>Images</h1>

<!-- Gallery -->
<div class="row">
  <% @images.each_slice(2) do |image1, image2| %>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <%   if image1 %>
        <%= link_to image1 do %>
          <%= image_tag image1.photo, class:"w-100 shadow-1-strong rounded mb-4" %>
        <% end %>
      <% end %>
      <% if image2 %>
        <%= link_to image2 do %>
          <%= image_tag image2.photo, class:"w-100 shadow-1-strong rounded mb-4" %>
        <% end %>      
      <% end %>
    </div>
  <% end %>
</div>

